#nowyzestaw {
    top: 30px !important;
    height: 80vh;
}

#testo1 h3, #testo2 h3, #testo3 h3 {
    font-size: 12px;
    display: block;
    position: absolute;
    bottom: 0px;
}

.dataa {
    position: relative;
}

.dataa .dzis {
    position: absolute;
    top: 0;
    right: 0;
}

.druuk {
    width: 400px;
    height: 150px;
    font-size: 30px;
    line-height: 150px;
    display: block;
    margin: 20px auto;
}

.edytowana_kanapka h3 {
    font-size: 12px;
    display: block;
    margin: 0 auto;
}

.edytowana_kanapka img {
    max-width: 35%;
    display: block;
    margin: 5px auto;
}

#dodajkanapke {
    position: absolute;
    top: 30px;
    left: 230px;
    height: 50px;
    line-height: 50px;
}

.edytowana_kanapka .kanapka {
    display: block;
    height: 200px;
    padding: 0;
}

.edytowana_kanapka .actions {
    margin: 10px 0;
    text-align: center;
}

.orders .card-content {
    padding: 0 8px;
    padding-top: 10px;
}

.orders .card-title {
    font-size: 16px;
    position: absolute;
    line-height: 20px !important;
    top: 8px;
    font-weight: bold;
    left: 8px;
}

.orders ul {
    margin-top: 25px;
    margin-bottom: 5px;
    min-height: 60px;
}

.orders .card-action {
    padding: 5px;
    border: none;
}

.orders .coup {
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
}

.orders img {
    width: 60px;
    top: 40px;
    right: 150px;
}

.orders .card-action a {
    height: 25px;
    padding: 0 10px;
    line-height: 25px;
    font-size: 16px;
    margin-right: 8px;
}

.orders .cena {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: bold;
    font-size: 22px;
}

.kasa .gotowe {
    height: 60px;
    padding: 8px;
}

.kasa #gotowe {
    float: none;
    top: 0;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
}

.orders {
    height: 490px;
}