body {
  width: 100vw;
  height: 100vh;
  background: #eee;
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1280px;
  height: 720px;
  border: 2px solid #ddd;
  background: white;
  display: flex;
  position: relative;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding-top: 114px;
}

.section {
  width: 100%
}

h1 {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.modal {
  top: calc(50vh - 100px)!important;
  height: 200px;

}
/**/

.logo {
  height: 54px;
  position: absolute;
  top: 30px;
  left: 0;
    right: 0;
    margin: 0 auto;
}

.version {
  height: 54px;
  position: absolute;
  bottom: 30px;
  display: none;
}

.center-col {
  margin: 0 auto;
  float: none!important;
}

.logowanie input, .autoryzuj input {
  font-size: 3rem!important;
  text-align: center;
}

.button {
  text-align: center;
}

.btn-card-panel {
  height: 150px;
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.max-345 {
  height: 345px;
  overflow-y: scroll;
}

.max-345-oh {
  overflow: hidden;

  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.absolute {
  position: absolute;
  left: 0;
  right: 0;
}

.flip {
  transform: scaleX(-1);
}

#wroc {
  position: absolute;
  top: 30px;
  left: 30px;
}

#dane {
  position: absolute;
  top: 12px;
  right: 30px;
  font-weight: bold;
}

#wyczysc-alt {
  float: left;
  margin-left: 30px;
}

#wyczysc-alt i{
  margin: 0;
}

#gotowe {
  float: right;
  margin-right: 30px;
}

.top-bar {
  height: 114px;
  width: 100%;
  background: #f6f6f6;
  position: absolute;;
  top: 0;
  border-bottom: 2px solid #ddd;
  text-align: center;
}

.kasa {
  padding-top: 0;
}

.kasa .col {
  /*display: flex;*/
}

.kasa .col > a {
  width: 100%
}

.kasa .col.left {
  border-right: 2px solid #ddd;
}

.kasa .col.right .row  {
  width: 100%;
}

.kasa .zamowienie {
  overflow-y: scroll;
  height: 370px;
}

.kasa .gotowe {
  width: 426px;
  height: 114px;
  bottom: 0;
  right: 0;
  border-top: 2px solid #ddd;
  position: absolute;
  text-align: center;
  background: #f6f6f6;
}

.kasa .gotowe a {
  top: 30px;
}

.container .row {
  margin: 0;
}

.top {
  align-items: flex-start;
}

.kasa .btn-card-panel {
  justify-content: flex-end;
}

.kasa .kanapka {
  position: relative;
  background-image: url(../images/big-mac.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.kasa .dodatek {
  background-image: url(../images/frytki-srednie.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.kasa .napoj {
  background-image: url(../images/napoj.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.kasa .deser {
  background-image: url(../images/skomponuj-mcflurry.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.kasa .zestaw {
  background-image: url(../images/mczestaw.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.kasa .kupon {
  background-image: url(../images/2xmczestaw-powiekszony.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.menu-popup img{
  height: 100px;
}

#kanapki {
    top: calc(50vh - 250px)!important;
    height: 500px;
    width: 1020px;
}

#kanapki .btn-card-panel  h3 {
  font-size: 1.5rem;
}

#kanapki .btn-card-panel {
  height: auto;
}


.ordered {
  position: relative;
}

.ordered .remove {
  position: absolute;
  top: 0;
  right: 0;
}

.ordered .remove {
  position: absolute;
  top: 0;
  right: 0;
}

.ordered img {
  width: 120px;
  position: absolute;
  right: 80px;
  top: 70px;
}

.ordered .coup {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 2px;
  background-color: #ff3d00;
}

.orders {
  overflow: auto;
  height: 400px;
}